<?xml version="1.0" encoding="UTF-8"?>

<style-sheet uses:base="Quick-Base v0.1">
	<style attr="widget.color">
		<style element="tabular-widget">
			<style child="columns">
				<style condition="selected">`cornflower-blue`</style>
				<style condition="rowIndex % 2 == 1">
					<style>`light-gray`</style>
					<style condition="selected">`steel-blue`</style>
				</style>
				<style>`white`</style>
			</style>
		</style>
	</style>
</style-sheet>
